body {
    width: 25rem;
    height: 35rem;
    max-height: calc(600px - 3.5rem);
}

button.btn-main {
    position: absolute;
    padding: 0 !important;
    right: 5vw;
    bottom: 5vw;
    box-shadow: 0 2vw 2vw rgba(0, 0, 0, .2);
}

button.btn-main:hover {
    box-shadow: 0 2vw 3vw rgba(0, 0, 0, .4);
}

.abs-center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.button-wrapper {
    width: 12vw;
    height: 12vw;
}

form.invalid div.invalid-input {
    display: inherit;
}

form.invalid label {
    color: red;
}

form div.invalid-input {
    display: none;
    color: red;
    font-size: 80%;
}

main.container-fluid {
    max-height: 100%;
    overflow-y: auto;
}

ul.list-group li.course {
    font-size: 1.5rem;
    padding: 0.5em 0;
}

li.course div.text-info {
    line-height: 1.1;
    font-size: 0.9rem;
}

button.btn-block {
    height: 100%;
}

span.twitter-typeahead {
    width: 100%;
}

div.list-group {
    width: 100%;
    max-height: calc(35rem / 2 - 2em);
    overflow-y: auto;
}